.page-content-container {
    text-align: center;
    padding: 20px;

    display: flex;
    flex-direction: row;
    justify-content: center;

    flex: 1 0 auto;

    .page-sidebar {
        padding: 20px;
    }

    .page-content {
        padding: 20px;
    }
}
