.sidebar-links-container {
    .sidebar-links {
        display: flex;
        flex-direction: column;

        list-style-type: none;
        padding: 0;

        .sidebar-link {
            display: flex;
            justify-content: center;

            margin: 5px;
            margin-right: 40px;
            margin-left: 0px;

            padding: 10px;

            border: 0 solid transparent;
            border-left-width: 10px;
            border-right-width: 10px;

            border-radius: 50px 0 0 50px;
            border-left-color: lightsalmon;
            border-right-color: transparent;

            transition: margin-left 1.5s ease-in, margin-right 1.5s ease-in, border-radius 1.5s linear,
                border-color 1.5s ease-in-out;

            background-color: black;
            color: white;
            font-weight: bold;

            &.active-link {
                margin-right: 0;
                margin-left: 40px;

                border-radius: 0 50px 50px 0;
                border-left-color: transparent;
                border-right-color: limegreen;

                transition: margin-left 1s ease-out, margin-right 1s ease-out, border-radius 1.5s linear,
                    border-color 1.5s ease-in-out;

                background-color: lightgrey;
                color: green;
                font-style: italic;
            }

            &:not(.active-link).notFound {
                display: none;
            }
        }
    }
}
