.sidebar {
    padding: 10px;

    .sidebar-title {
        font-size: 30px;
        font-weight: bold;
        font-style: italic;

        border-bottom: 2px red solid;

        margin-bottom: 50px;
    }
}
