.app-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100%;

  .site-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 100%;

    .footer,
    .header {
      padding: 20px;

      text-align: center;
    }
  }
}
